@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');

:root {
    --main-bg-color: #E9E9E9;
    --primary-text-color: #424242;
    --accent-color: #FF3F3C;
}

body {
    background: var(--main-bg-color);
    color: var(--primary-text-color);
    font-family: "Inter", sans-serif; 
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    margin-bottom: 100px;
}

header h1 {
    margin: 0;
    font-weight: normal;
}

main {
    background: url(/images/polaroid.png) no-repeat center 100px;
    margin: 0 auto;
    width: 1000px;
}

.hero {
    text-align: center;
    min-height: 800px;
}

.hero h2 {
    font-size: 9em;
    line-height: 1em;
    text-transform: uppercase;
    margin: 0;
}

h3 {
    text-align: center;
    font-size: 3em;
}

.details p {
    margin: 0 auto;
    max-width: 900px;
}

.details ul li {
    list-style-type: none;
    margin: 10px 0;
    padding: 0 0 0 40px;
}

.details ul li.wifi {
    background: url(/images/wifi-solid.svg) no-repeat center left;
    background-size: contain;
}

.details ul li.cloud {
    background: url(/images/cloud-arrow-up-solid.svg) no-repeat center left;
    background-size: contain;
}
.details ul li.qr {
    background: url(/images/qrcode-solid.svg) no-repeat center left;
    background-size: contain;
}
.details ul li.photo {
    background: url(/images/photo-film-solid.svg) no-repeat center left;
    background-size: contain;
}

.cta {
    text-align: center;
    margin-bottom: 100px;
}

form {
    display: inline-block;
    background: linear-gradient(180deg, #e2e2e2 0%, #cccccc 100%);
    border-radius: 15px;
    padding: 20px 45px 20px 45px;
}

input {
    height: 40px;
}

.text {
    border: 0;
    padding: 0 20px;
    width: 365px;
    font: inherit;
}

.button {
    background-color: var(--accent-color);
    color: var(--main-bg-color);
    border: 0;
    font-size: 0.9em;
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 900;
    font-family: "Inter";
}